/*
	font-family:Arial, Helvetica, sans-serif;
	font-family:'Courier New', Courier, monospace;
	font-family:Georgia, serif;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-family:Tahoma, Geneva, sans-serif;
	font-family:'Trebuchet MS', Helvetica, sans-serif;
	font-family:'Times New Roman', Times, serif;
	font-family:Verdana, Geneva, sans-serif;
	font-family:'MS Sans Serif', Geneva, sans-serif;
*/
#footer-box a, #footer-box a:visited{ text-decoration: none; color: #1B95A4; cursor:pointer}		
#footer-box a:hover { text-decoration: underline; color: #E08801; cursor:pointer}	
body {
  	margin: 0px;
}
body#wedding-website-music-body {
	background-image:none;
}
#page-box {
	width:860px;
	margin:0 auto;
}
#body-box {
  	width:600px;
  	padding-left:30px;
  	padding-right:30px;
  	overflow:hidden;
}
#body-table {
	width:100%;
}
#nav-box, #body-box {
	padding-top:40px;
}
#nav-box {
	width:200px;
}
.navText {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
	width:160px;
}
.navSelected.navText, .navText:hover {
	text-decoration: none;
}
#nav-box-image-top, #nav-box-image-bottom {
	height:1px;
	line-height:1px;
}
#heading-box {
	background-repeat: no-repeat;
}
#headerText, #dateText, #taglineText {
	white-space:nowrap;
	overflow:hidden;
}
#headerText, #dateText, #taglineText {
	padding-left:40px;
	padding-right:40px;
}
#headerText {
	padding-top:70px;
}
#footer-box {
 	padding:5px;
 	text-align:center;
}
/* ie font fix */
#headerText, #dateText, #taglineText {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
}