@(guests: List[Guest])

@import controllers.GuestController.GuestField

<html>

<head>
  <title>Guests</title>

<style>
table, th, td {
border: 1px solid black;
}
</style>

</head>

<body>

  <table>
    <tr><td>Id</td><td>Guest #1 Name</td><td>Guest #2 Name</td><td>Has extra guest</td><td>RSVP code</td>
    <td>Attending?</td><td>Email</td><td>Phone</td><td>Comments</td><td>Last Modified</td></tr>
    @for(g <- guests) {
      <tr>
        <td>@g.getId()</td>
        <td>@g.getGuestOneName()</td>
        <td>@g.getGuestTwoName()</td>
        <td>@g.getHasExtraGuest()</td>
        <td>@g.getRsvpCode()</td>
        <td>@g.getAttending()</td>
        <td>@g.getEmail()</td>
        <td>@g.getPhoneNumber()</td>
        <td>@g.getComments()</td>
        <td>@g.getModifiedDate()</td>
      </tr>
    }
  </table>
</body>

</html>