@import controllers.GuestController.GuestField

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="wuwuwedding amy willy wedding">
    <meta name="author" content="wwu">

    <!-- Favicon -->
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")"/>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")"/>

    <title>Wu Wu Wedding</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main/main.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main/nivo-slider.css")" type="text/css"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main/nivo-default-theme.css")" type="text/css"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="navbarsides"></div>

    <!-- Main content -->
    <div id="gridwidth" class="container">

      <div id="navbar">
          <div id="nav_item_wrapper">
            <div id="nav_aboutus" onclick="goToByScroll(&#39;about-us&#39;);"></div>
            <div id="nav_weddingparty" onclick="goToByScroll(&#39;weddingparty-content&#39;);"></div>
            <div id="nav_ceremony" onclick="goToByScroll(&#39;ceremony-content&#39;);"></div>
            <div id="nav_topofpage" onclick="goToByScroll(&#39;landing&#39;);"></div>
            <div id="nav_rsvp" onclick="goToByScroll(&#39;rsvp&#39;);"></div>
            <div id="nav_photos" onclick="goToByScroll(&#39;photos&#39;);"></div>
            <div id="nav_contact" onclick="goToByScroll(&#39;contact-us&#39;);"></div>
          </div>
      </div>

      <div id="landing">
        <div id="landing-text"></div>
      </div>

      <div id="divider"></div>

      <div id="about-us"></div>

      <div id="weddingparty-mainphoto">
        <div id="weddingparty-text"></div>
      </div>

      <div id="divider"></div>

      <div id="weddingparty-content">
        <!-- stuff goes here -->
      </div>

      <div id="ceremony-mainphoto">
        <div id="ceremony-text"></div>
      </div>

      <div id="divider"></div>

      <div id="ceremony-content">
        <div id="ticket-img"></div>

        <div id="ceremony-content-text">
          <div class="row">
            <div class="span5 col-buffer">
              <h4 class="ceremony-title">Location & Date</h4>
              <h5>San Francisco City Hall</h5>
              <p>1 Dr Carlton B Goodlett Place<br/>San Francisco, CA 94102<br/><br/>
                 View on <a href="https://www.google.com/maps?q=1+Dr+Carlton+B+Goodlett+Place+San+Francisco,+CA+94102">Google Maps</a>
                 &nbsp;<a href="https://www.google.com/maps?q=1+Dr+Carlton+B+Goodlett+Place+San+Francisco,+CA+94102"><img width="20px" height="20px" src="/assets/images/main/05-gmap-icon.jpg"/></a><br/><br/>
                 The wedding is on June 21st, 2014 at City Hall.  The ceremony begins promptly at 6 pm
                 followed by a cocktail hour and reception at the same location.  Guests may arrive
                 starting at 5:30 pm.
              </p>
            </div>
            <div class="span5 col-buffer">
              <img src="/assets/images/main/05-city-hall.png"/>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="span5 col-buffer">
              <h4 class="ceremony-title">Directions</h4>
              <p>
                <h5>Directions from the South Bay</h5>
                <span>Take U.S. 101 North towards San Francisco. Take the U.S. 101 North/Duboce Ave./Mission Street exit. Keep right at the fork on the ramp. Turn right onto Mission Street. Turn slight left onto Van Ness Ave. Turn right onto McAllister, right onto Dr. Carlton B. Goodlett Place.<br/><br/></span>
                <h5>Directions from the East Bay</h5>
                <span>Take Interstate 580. Exit onto Interstate 80 West towards San Francisco. After crossing the Bay Bridge, take the 9th Street/Civic Center exit. Keep right at the fork on the ramp. Turn left onto Harrison Street, then turn right onto 9th Street. Turn slight left onto Hayes Street, then turn right onto Van Ness Ave. Turn right onto McAllister, right onto Dr. Carlton B. Goodlett Place.</span>
              </p>
            </div>
            <div class="span5 col-buffer">
              <h4 class="ceremony-title">Parking</h4>
              <p>We recommend taking a taxi to the location if you are staying in San Francisco.<br/><br/>
                 If you are driving, parking is available at the Civic Center Garage across the street.<br/><br/>
                 355 McAllister Street<br/>
                 Rate: $1 per hour<br/>
                 Garage closes at midnight<br/>
                 For more information, go to <a href="http://sfpark.org/how-it-works/the-garages/civic-center-garage/">their website</a><br/><br/>
                 Metered street parking is also available on Van Ness, McAllister, Grove, and Dr. Carlton B. Goodlett Place, and it is free after 6 pm.
               </p>
            </div>
          </div>
          <div class="row top-buffer rsvp-registry">
            <div class="span6 col-buffer">
              <h4 class="ceremony-title">Registry</h4>
              <p>We don't have a wedding registry.  If you would like to bring a gift, monetary gifts would be most appreciated to help fund our honeymoon in Southeast Asia!</p>
              <p>Thank you and we cannot wait to see you at the wedding!</p>
            </div>
          </div>
        </div>
        <div id="ceremony-footer">
          <div class="row center-row">
            <img src="/assets/images/main/05-ceremony_heart.png"/>
          </div>
          <div class="row center-row">
            <span class="ceremony-instagram-font">Don't forget to use our Instagram hashtag!</span>
          </div>
          <div class="row center-row">
            <img src="/assets/images/main/05-ceremony_instagram.png"/>
          </div>
        </div>
      </div>

      <div id="divider"></div>

      <div id="rsvp">
          <div id="rsvp-header"></div>

          <div id="rsvp-body">
            <div id="rsvp-form">
              <script type="text/javascript">var rsvpSubmitted=false;</script>
              <form id="rsvp-check">
                <div id="rsvp_container" style="display:inline">
                  <div class="input-prepend prepend-center">
                      <span class="add-on input-addon">RSVP Code</span>
                      <input id="rsvp-code" name="@GuestField.RSVP_CODE.getName()" class="input-xlarge input-inline-text" type="text"/>
                  </div>
                  <div class="row center-row">
                    <span class="ceremony-instagram-font">Please enter your code to RSVP!</span>
                  </div>
                  <button class="btn rsvp-code-button">Submit</button>
                  <div class="rsvp-result">
                    <div id="rsvp-error" style="display:none;"class="alert alert-danger alert-dismissable">
                      <span><b>Sorry!</b>  You entered an invalid RSVP code!</span>
                      <button type="button" id="rsvp-error-button" class="close" aria-hidden="true">&times;</button>
                    </div>
                  </div>
                </div>
              </form>
              <form id="rsvp-update-guests">
                <input type="hidden" name="rsvpCode" id="hidden-rsvp-code"/>
                <div id="one_guest_container" style="display:none">
                  <div class="row center-row">
                    <span class="ceremony-instagram-font">We have reserved 1 seat in your honor!</span>
                  </div>
                  <div class="input-prepend prepend-center">
                      <span class="add-on input-addon">Your Name</span>
                      <input id="rsvp-guest-name" name="@GuestField.GUEST_ONE_NAME_SINGLE.getName()" class="input-xlarge input-inline-text" type="text"/>
                  </div>
                </div>
                <div id="two_guests_container" style="display:none">
                  <div class="row center-row">
                    <span class="ceremony-instagram-font">We have reserved 2 seats in your honor!</span>
                  </div>
                  <div class="input-prepend prepend-left">
                      <span class="add-on input-addon">Guest #1 Name</span>
                      <input id="rsvp-guest-one-name" name="@GuestField.GUEST_ONE_NAME_DOUBLE.getName()" class="input-xlarge input-inline-text" type="text"/>
                  </div>
                  <div class="input-prepend prepend-right">
                      <span class="add-on input-addon">Guest #2 Name</span>
                      <input id="rsvp-guest-two-name" name="@GuestField.GUEST_TWO_NAME_DOUBLE.getName()" class="input-xlarge input-inline-text" type="text"/>
                  </div>
                </div>
                <div id="extra-rsvp-info-container" style="display:none">
<!--
                  <div class="input-prepend prepend-left">
                      <span class="add-on input-addon">Email</span>
                      <input id="rsvp-email" name="@GuestField.EMAIL.getName()" class="input-xlarge input-inline-text" type="email"/>
                  </div>
                  <div class="input-prepend prepend-right">
                      <span class="add-on input-addon">Phone Number</span>
                      <input id="rsvp-phone" name="@GuestField.PHONE_NUMBER.getName()" class="input-xlarge input-inline-text" type="text"/>
                  </div>
-->
                  <div class="input-prepend prepend-radios">
                      <div class="btn-input" data-toggles="buttons">
                          <label class="btn">
                              <input type="radio" name="@GuestField.ATTENDING.getName()" id="rsvp-accept" value="accept"> Accept with pleasure
                          </label>
                          <label class="btn">
                              <input type="radio" name="@GuestField.ATTENDING.getName()" id="rsvp-decline" value="decline"> Decline with regret
                          </label>
                      </div>
                  </div>
                  <div class="rsvp-div">
                    <span class="rsvp-span">Additional Comments</span>
                    <textarea id="rsvp-comment-area" class="rsvp-textarea" name="@GuestField.COMMENTS.getName()" placeholder="Songs for our playlist?  Let us know what's on your mind!" maxlength="255"></textarea>
                    <button class="btn rsvp-button">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="rsvp-result">
              <div id="rsvp-success" style="display:none;"class="alert alert-success alert-dismissable">
                <span><b>Congratulations!</b>  You are now confirmed for our wedding!</span>
                <button type="button" id="rsvp-success-button" class="close" aria-hidden="true">&times;</button>
              </div>
            </div>
          </div>
      </div>

      <div id="divider"></div>

      <div id="photos">
          <div id="photo-header"></div>
      </div>

      <div id="divider"></div>

      <div id="contact-us">
          <div id="contact-us-header"></div>

          <div id="contact-us-body">
            <script type="text/javascript">var contactSubmitted=false;</script>
            <iframe name="hidden_contact_iframe" id="hidden_contact_iframe" style="display:none;" onload="if(contactSubmitted) {window.location=window.location.protocol + '//' + window.location.host + '/submitted';}"></iframe>
            <form action="https://docs.google.com/forms/d/1JXK3FQ11U9O77FVneTSmX5NN2o60VHdZ9mIT3nmhH7k/formResponse" method="post"
target="hidden_contact_iframe" onsubmit="contactSubmitted=true;">
                <div class="input-prepend prepend-left">
                    <span class="add-on input-addon">Your Name</span>
                    <input id="contact-name" name="entry.777428967" class="input-xlarge input-inline-text" type="text"/>
                </div>
                <div class="input-prepend prepend-right">
                    <span class="add-on input-addon">Email</span>
                    <input id="contact-email" name="entry.1273032581" class="input-xlarge input-inline-text" type="email"/>
                </div>
                <div class="comments-div">
                  <span class="comments-span">Comments</span>
                  <textarea class="comments-textarea" name="entry.1200739203" placeholder="Share your love or ask us questions!"></textarea>
                  <button class="btn contact-button">Submit</button>
                </div>
            </form>
        </div>

        <footer class="contact-footer">
          <span>© 2014 Willy Wu.  A gigantic heartfelt thank you to <a href="http://www.sophienesss.com">Sophie Su</a> for the countless hours she volunteered to design this entire site!</span>
        </footer>

      </div>

    </div> <!-- end gridwidth -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("js/white/jquery.easing.1.3.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/main/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/main/main.js")"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8532246-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
