<div id="slider-container" class="slider-wrapper theme-default">
   <div class="ribbon"></div>
   <div id="slider" class="nivoSlider">
     <img src="@routes.Assets.at("images/gallery/photo1.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo2.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo3.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo4.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo5.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo6.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo7.jpg")"/>
     <img src="@routes.Assets.at("images/gallery/photo8.jpg")"/>
   </div>
 </div>