@(title: String)(content: Html)

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wu Wu Wedding</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/sophie/stylezilla.css")">
<link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")">
</head>
<body>
<div class="center">
<img src="@routes.Assets.at("images/sophie/wu-website_placeholder-01.png")"></img>
</div>
</body>
</html>