
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="wuwuwedding amy willy wedding">
    <meta name="author" content="wwu">

    <title>Wu Wu Wedding</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/responsive/responsive.css")">

  <!--[if IE 7]>
  <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
  <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="hidden-desktop logo" href="#home">Amy & Willy</a>
          <div class="nav-collapse collapse">
            <ul class="nav menu-nav">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#ceremony">Ceremony</a></li>
              <li><a href="#photos">Photos</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse-->
        </div>
      </div>
    </div>

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Amy & Willy</h1>
          <div class="line"><h3>Are getting</h3></div>
          <h2><i class="icon-heart-empty"></i> MARRIED! <i class="icon-heart-empty"></i></h2>
          <h4>And They are pleased to </h4>
          <h5>INVITE YOU</h5>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h2>Willy</h2>
          <p>He's a great guy.  An engineer.</p>
          <blockquote>
            "What would I ever do without Willy? #lovethatguy"
            <small>Amy</small>
          </blockquote>
        </div>
        <div class="span4 img">
          <img src="img/lorensojulia.png">
          <img src="img/bottom.png">
        </div>
        <div class="span4">
          <h2>Amy</h2>
          <p>She's a wonderful lady.  Perfect in every way.</p>
          <blockquote>
            "My favorite part of the day is seeing Amy. #awww"
            <small>Willy</small>
          </blockquote>
        </div>
      </div>
    </div>
  </section>

  <section id="ceremony">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>The Ceremony</h1>
          <div class="line"><h3>Will Be Held On</h3></div>
          <h2>June 21, 2014</h2>
          <h5>at SF City Hall</h5>
        </div>
      </div>
    </div>
  </section>

  <section id="photos">
    <div class="container">
      <div class="row">
        <div class="span4 img">
          <img src="img/bottom.png">
          <h2>Wedding Gallery</h2>
          <p>Here, you can put photos of about couple, prewedd, and many more.</p>
        </div>
        <div class="span8">
          <div class="row-fluid">
            <div class="span12">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item">
                  <div class="row-fluid">
                    <div class="span6 animated fadeInUpBig">
                      <img src="img/photos4.png" alt="">
                    </div>
                    <div class="span6 animated fadeInDownBig">
                      <h4>First Thumbnail label</h4>
                      <p>Julia, 20 Tahun. Wanita periang yang bercita-cita menjadi seorang pendidik dan pengajar.
                      Murah senyum, galak, tapi sangat cengeng. Tinggi, langsing, hidung pesek dan bergingsul.
                      Hobi makan es krim, mie ayam dan ngambek. Care sama temen dan pokoknya lakik #ehh.</p>
                      <blockquote>
                        Cinta itu.. jika kamu langsung datang kerumah dan melamarku ~ #duhh
                        <small>Julia</small>
                      </blockquote>
                    </div>
                  </div>
                  </div>
                  <div class="item animated fadeInUpBig active">
                  <img src="img/photos3.png" alt="">
                  <div class="carousel-caption hidden-phone">
                    <h4>Second Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                  </div>
                  <div class="item  animated flip">
                  <img src="img/photos2.png" alt="">
                  <div class="carousel-caption hidden-phone">
                    <h4>Third Thumbnail label</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"> &lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo; </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h2>Contact Us</h2>
          <div class="well">
            <div class="row-fluid">
              <div class="span6">
                <textarea rows="7" class="span12 no-resize" placeholder="Message" id="inputSuccess"></textarea>
              </div>
              <div class="span6">
                <input type="text" class="span12" placeholder="Name" id="inputSuccess" >
                <input type="email" class="span12" placeholder="Email" id="inputSuccess" >
                <input type="submit" value="Submit" class="btn btn-large btn-green" />
              </div>
            </div>
          </div>

          <h5>~ THANK YOU ~</h5>
        </div>
      </div>
    </div>
  </section>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@routes.Assets.at("js/responsive/bootstrap.js")"></script>
    <script src="@routes.Assets.at("js/responsive/jquery.scrollTo.js")"></script>
    <script src="@routes.Assets.at("js/responsive/script.js")"></script>
  </body>
</html>