/*
  1. Import fonts
  2. Global
  3. Nav bar
  4. Landing
  5. About Us
  6. Wedding Party
  7. The Ceremony
  8. RSVP
  9. Photos
  10. Contact Us
*/

/*
  == Import fonts ==
*/
@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import url("/assets/fonts/Futura-condensed-medium.ttf");
@import url("/assets/fonts/Futura.ttc");

/*
  == Global ==
*/

html {
  height: 100%;
}

body{
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Futura condensed medium', sans-serif;
  font-size: 14px;
  color: #7d7d7d;
}

#gridwidth {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#divider {
  height: 42px;
  background: url("/assets/images/main/00-divider.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

div {
  width: 100%;
}

.center-row {
  margin-left: 0;
  margin-right 0;
}

/*
  == Nav bar ==
*/
#navbar {
    background: url("/assets/images/main/01-header.png") no-repeat scroll center bottom transparent;
    position: fixed;
    top: 0px;
    height: 60px;
    z-index: 1000;
    background-size: 100% 100%;
    width: 1000px;
    margin: 0 auto;
}

#navbarsides {
    background: url("/assets/images/main/00-header_slice.png") repeat-x transparent;
    position: fixed;
    top: 0px;
    height: 60px;
    z-index: 900;
    width: 100%;
}

#nav_aboutus {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 112px;
    z-index: 1100;
}

#nav_weddingparty {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 152px;
    z-index: 1100;
}

#nav_ceremony {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 120px;
    z-index: 1100;
}

#nav_topofpage {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 235px;
    z-index: 1100;
}

#nav_rsvp {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 103px;
    z-index: 1100;
}

#nav_photos {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 154px;
    z-index: 1100;
}

#nav_contact {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 124px;
    z-index: 1100;
}

/*
  == Landing ==
*/
#landing {
  position: relative;
  height: 595px;
  background: url("/assets/images/main/01-landing.jpg") no-repeat scroll center bottom transparent;
  z-index: 50;
  background-size: 100% 100%;
}

#landing-text {
  position: absolute;
  height: 90px;
  background: url("/assets/images/main/01-landing_text.png") no-repeat scroll center bottom transparent;
  z-index: 100;
  margin: 0 auto;
  top: 80%;
}

/*
  == About Us ==
*/
#about-us {
  height: 1260px;
  background: url("/assets/images/main/02-timeline_small.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

/*
  == Wedding party ==
*/
#weddingparty-mainphoto {
  position: relative;
  z-index: 50;
  height: 642px;
  background: url("/assets/images/main/03-party.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

#weddingparty-text {
  position: absolute;
  height: 90px;
  background: url("/assets/images/main/03-party_text.png") no-repeat scroll center bottom transparent;
  z-index: 100;
  margin: 0 auto;
  top: 80%;
}

#weddingparty-content {
  height: 1238px;
  background: url("/assets/images/main/04-profiles_small.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

/*
  == Ceremony ==
*/
#ceremony-mainphoto {
  position: relative;
  z-index: 50;
  height: 640px;
  background: url("/assets/images/main/05-ceremony.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

#ceremony-text {
  position: absolute;
  height: 127px;
  background: url("/assets/images/main/05-ceremony_text.png") no-repeat scroll center bottom transparent;
  z-index: 100;
  margin: 0 auto;
  top: 75%;
}

#ceremony-content {
  position: relative;
  height: 950px;
  width: 1000px;
  background: url("/assets/images/main/05-ceremony_BG.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

#ceremony-content-text {
  margin:0px 20px 0px 20px;
}

#ticket-img {
  height: 185px;
  background: url("/assets/images/main/05-ceremony_tickets.png") no-repeat scroll center bottom transparent;
  z-index: 100;
  margin: 0 auto;
}

#hearts-img {
  position: absolute;
  height: 34px;
  background: url("/assets/images/main/05-ceremony_heart.png") no-repeat scroll center bottom transparent;
  z-index: 100;
  margin: 0 auto;
  top: 92%
}

#map-container {
  position: absolute;
  top: 190px;
  height: 500px;
  width: 800px;
  left: 100px;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

#map-canvas img {
  max-width: none;
}

.ceremony-h3 {
  color: #a8a7e1;
}

#ceremony-footer {
  margin: 0 auto;
  text-align: center;
}

.ceremony-instagram {
  color: #a8a7e1;
  font-size: 16px;
}

/*
  == RSVP ==
*/
#rsvp {
  position: relative;
  background: url("/assets/images/main/04-profiles_BG_large-no_repeat.jpg") no-repeat scroll center bottom transparent;
  background-size: 100%;
  height: 460px;
  font-family: 'Futura', sans-serif;
}

#rsvp-header {
  position: absolute;
  background: url("/assets/images/main/06_RSVP-header.png") no-repeat scroll center bottom transparent;
  width: 317px;
  height: 52px;
  left: 341px;
  top: 30px;
}

#rsvp-body {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 100px;
  top: 100px;
}

#rsvp-form {
  width: auto;
  height: auto;
  overflow:hidden;
}

.rsvp-div {
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  height: 150px;
  float:left;
  margin: 10px;
  padding: 15px 15px 15px 15px;
  width: 738px;
}

.rsvp-span {
  display:block;
  clear:both;
  margin-left: 0px;
}

.rsvp-textarea {
  width: 700px;
  height: 75px;
  resize: none;
  display:block;
  clear:both;
  margin-top: 10px;
}

.rsvp-button {
  margin: 0 auto;
  width: 100px;
  display:block;
}

.rsvp-result {
  width: 50%;
  display:block;
  margin: 0 auto;
  height: 50px;
  text-align:center;
}

/*
  == Photos
*/
#photos {
  position: relative;
  background: url("/assets/images/main/05-ceremony_BG.jpg") no-repeat scroll center bottom transparent;
  background-size: 100%;
  height: 740px;
}

#photo-header {
  position: absolute;
  background: url("/assets/images/main/07_photos.png") no-repeat scroll center bottom transparent;
  height: 38px;
  width:121px;
  top: 30px;
  left: 440px;
}

#slider-container {
  width: 700px;
  position: absolute;
  height: 525px;
  top: 105px;
  left: 150px;
}

/*
  == Contact Us ==
*/
#contact-us {
  position: relative;
  background: url("/assets/images/main/04-profiles_BG_large-no_repeat.jpg") no-repeat scroll center bottom transparent;
  background-size: 100%;
  height: 450px;
  font-family: 'Futura', sans-serif;
}

#contact-us-header {
  position: absolute;
  background: url("/assets/images/main/08_contact-header.png") no-repeat scroll center bottom transparent;
  width: 388px;
  height: 54px;
  left: 306px;
  top: 30px;
}

#contact-us-body {
  position: absolute;
  width: 800px;
  height: 300px;
  left: 100px;
  top: 100px;
}

.prepend-left {
  float:left;
  width: 380px;
  margin: 10px;
}

.prepend-right {
  float:right;
  width: 380px;
  margin: 10px;
}

.input-prepend .input-addon {
  width: 100px;
}

.input-prepend .input-inline-text {
  padding-left:10px;
  width:240px;
}

.comments-div {
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  height: 150px;
  float:left;
  margin: 10px;
  padding: 15px 15px 15px 15px;
  width: 738px;
}

.comments-span {
  display:block;
  clear:both;
  margin-left: 0px;
}

.comments-textarea {
  width: 700px;
  height: 75px;
  resize: none;
  display:block;
  clear:both;
  margin-top: 10px;
}

.contact-button {
  margin: 0 auto;
  width: 100px;
  display:block;
}

.contact-footer {
  position:absolute;
  top: 400px;
  width: 100%;
  text-align: center;
}