/*
  1. Import fonts
  2. Global
  3. Nav bar
  4. Landing
  5. About Us
  6. The Ceremony
  7. Photos
*/

/*
  == Import fonts ==
*/
@import url(http://fonts.googleapis.com/css?family=Rokkitt);

/*
  == Global ==
*/
body{
  background: #fff;
  margin: 0;
  font-family: 'Rokkitt', serif;
  font-size: 16px;
}

#gridwidth {
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#divider {
  height: 42px;
  background: url("/assets/images/main/00-divider.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

div {
  width: 100%;
}

/*
  == Nav bar ==
*/
#nav_bg {
    background: url("/assets/images/main/wu-index_01_header.png") no-repeat scroll center bottom transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 79px;
    z-index: 1000;
    width: 100%
}

#nav_aboutus {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 198px;
    z-index: 1100;
    clear: both;
}

#nav_ceremony {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 198px;
    z-index: 1100;
}

#nav_map {
    position: relative;
    float: right;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 198px;
    z-index: 1100;
}

#nav_photos {
    position: relative;
    float: right;
    cursor: pointer;
    top: 0px;
    height: 50px;
    width: 198px;
    z-index: 1100;
}

/*
  == Landing ==
*/
#landing {
  position: relative;
  height: 595px;
  background: url("/assets/images/main/01-landing.jpg") no-repeat scroll center bottom transparent;
  z-index: 50;
  background-size: 100% 100%;
}

#landing-text {
  position: absolute;
  height: 150px;
  background: url("/assets/images/main/01-landing_text.png") no-repeat scroll center bottom transparent;
  z-index: 100;
  margin: 0 auto;
  vertical-align: middle;
  top: 72%;
}

/*
  == About Us ==
*/
#about-us {
  height: 853px;
  background: url("/assets/images/main/02-timeline.jpg") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

/*
  == Ceremony ==
*/
#ceremony {
  height: 874px;
  background: url("/assets/images/main/wu-index_04_ceremony.png") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

#ceremony-map {
  height: 978px;
  background: url("/assets/images/main/wu-index_05_map.png") no-repeat scroll center bottom transparent;
  background-size: 100% 100%;
}

/*
  == Photos
*/
#photo-library {
  height: 686px;
  background: url("/assets/images/main/wu-index_06_photos.png") no-repeat scroll center bottom transparent;
}